.admin {
  height: 100%;
  background-color: #ff8e00;
  display: flex;
  align-items: center;

}


.user {
  height: 100%;
  background-color: #003f7d;
  display: flex;
  align-items: center;
}

.navi {
  background-color: #fdfcf3;
}

.apPage {
  height: 100%;
  text-align: center;
}

.apCard {
  text-align: left;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
  1px 3px 8px rgba(39, 44, 49, 0.03);
transition: all 0.5s ease;
}

.apCard:hover {
  transform: translate3D(0,-1px,0) scale(1.03);
}

.adCard {
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
  1px 3px 8px rgba(39, 44, 49, 0.03);
transition: all 0.5s ease;
}

.adCard:hover {
  transform: translate3D(0,-1px,0) scale(1.03);
}

.usCard {
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
  1px 3px 8px rgba(39, 44, 49, 0.03);
transition: all 0.5s ease;
}

.usCard:hover {
  transform: translate3D(0,-1px,0) scale(1.03);
}

.uspCard {
  text-align: left;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
  1px 3px 8px rgba(39, 44, 49, 0.03);
transition: all 0.5s ease;
}

.uspCard:hover {
  transform: translate3D(0,-1px,0) scale(1.03);
}





